.accordion-container {
	max-width: 1000px;
	text-align: center;
	h3,
	.h3 {
		display: block;
		font-family: sans-serif;
		color: $black;
		font-size: 36px;
		letter-spacing: 0;
		font-weight: 700;
		line-height: 1.15;
		margin: 0 0 20px;
	}

	p {
		color: $black;
		font-family: sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.8;
		letter-spacing: 0;
		margin: 0 auto 30px;
	}
}

.accordion {
	padding: 0;
	text-align: left;
	.accordion-navigation {
		margin-bottom: 10px!important;
		padding: 0;
		font-weight: 600;
		font-size: 20px;
		background-color: transparent;
		border-bottom: 1px solid darken($lgray,3%);
		@include transition("250ms all ease-in-out");
		.accordion-title {
			background-color: transparent;
			font-size: 20px;
			padding: 20px 50px 15px 20px;
			@include flexbox;
			@include align-items($value: center);
			@include hover-state {
				background-color: transparent;
			}

			.icon {
				position: absolute;
				right: 30px;
				width: 15px;
				height: 15px;
				@include transition("250ms all ease-in-out");
			}
		}

		&:last-child {
			margin: 0!important;
		}

		&.active {
			background-color: transparent;
			.accordion-title {
				background: transparent;
				.icon {
					@include transform(rotate(#{45}deg));
				}
			}
		}
	}

	.content {
		width: 100%!important;
		margin: 0 auto!important;
		padding: 0 20px!important;
	}
}

/*============================================================
	Media Queries
============================================================*/

/* Non-Small screens */

@media only screen and (min-width: 641px) {
	
}

/* Large screens */

@media only screen and (min-width: 1025px) {

}

@media only screen and (max-width: 1820px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1740px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1660px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1580px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1500px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1420px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1340px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1260px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1180px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1100px) and (min-width: 1025px) { 
	
}

/* Medium screens */

@media only screen and (max-width: 1024px) and (min-width: 641px) {

}

@media only screen and (max-width: 960px) and (min-width: 641px) { 
	
}

@media only screen and (max-width: 880px) and (min-width: 641px) { 
	
}

@media only screen and (max-width: 800px) and (min-width: 641px) { 
	
}

@media only screen and (max-width: 720px) and (min-width: 641px) { 
	
}

/* Small screens */

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 560px) { 
	
}

@media only screen and (max-width: 480px) { 
	
}

@media only screen and (max-width: 400px) { 
	
}

@media only screen and (max-width: 320px) { 
	
}

/* Retina screens */

@media only screen and (-webkit-min-device-pixel-ratio: 2),screen and (min--moz-device-pixel-ratio: 2),screen and (-o-min-device-pixel-ratio: 2/1),screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dpi),screen and (min-resolution: 2dppx) {
	
}