/*============================================================
	Colours
============================================================*/

$black: #090b17;
$white: #ffffff;
$lgray: #f5f4fc;
$lpurple: #f0efff;
$gray: #676e8b;
$green: #00c095;
$red: #f88379;
$purple: #5340ff;
