.icon-feed {
	max-width: 1320px;
	width: 100%;
	text-align: center;
	.grid {
		text-align: center;
	}

	.grid-item {
		text-align: center;
		.circle {
			width: 110px;
			height: 110px;
			min-width: auto;
			background-color: $lpurple;
			border-radius: 50%;
			padding: 0;
			margin: 0 auto 20px;
			@include flexbox;
			@include align-items($value: center);
			@include justify-content($value: center);
		}

		.icon {
			width: auto;
			height: 40px;
			fill: $purple;
			display: block;
			&.adobe {
				height: 42px;
			}

			&.wordpress {
				height: 52px;
			}
		}

		.thumb-container {
			margin-bottom: 15px;
		}

		.heading {
			font-family: $poppins;
			font-size: 20px;
			display: block;
			letter-spacing: -0.02em;
			font-weight: 600;
			line-height: 1.2;
			margin-bottom: 10px;
		}

		p {
			font-family: $poppins;
			font-size: 13px;
			color: $gray;
			font-weight: 500;
			margin-bottom: 20px;
			line-height: 1.5;
			letter-spacing: 0;
			&:last-child {
				margin: 0;
			}
		}
	}
}

/*============================================================
	Media Queries
============================================================*/

/* Non-Small screens */

@media only screen and (min-width: 641px) {
	
}

/* Large screens */

@media only screen and (min-width: 1025px) {

}

@media only screen and (max-width: 1820px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1740px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1660px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1580px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1500px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1420px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1340px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1260px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1180px) and (min-width: 1025px) { 
	
}

@media only screen and (max-width: 1100px) and (min-width: 1025px) { 
	
}

/* Medium screens */

@media only screen and (max-width: 1024px) and (min-width: 641px) {

}

@media only screen and (max-width: 960px) and (min-width: 641px) { 
	
}

@media only screen and (max-width: 880px) and (min-width: 641px) { 
	.icon-feed .grid li { width: 50%; }
}

@media only screen and (max-width: 800px) and (min-width: 641px) { 
	
}

@media only screen and (max-width: 720px) and (min-width: 641px) { 
	
}

/* Small screens */

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 560px) { 
	
}

@media only screen and (max-width: 480px) { 
	
}

@media only screen and (max-width: 400px) { 
	
}

@media only screen and (max-width: 320px) { 
	
}

/* Retina screens */

@media only screen and (-webkit-min-device-pixel-ratio: 2),screen and (min--moz-device-pixel-ratio: 2),screen and (-o-min-device-pixel-ratio: 2/1),screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dpi),screen and (min-resolution: 2dppx) {
	
}